.mejs-embed,
.mejs-embed body,
.mejs-container,
.mejs-container .mejs-controls {
  background: #333;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #444;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #777;
}

.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #dd4a26;
}
