<script
  src="/lunrsearch/search.min.js"
  type="text/javascript"
  charset="utf-8">
</script>

<script
  src="/mediaelement/mediaelement-and-player.min.js"
  type="text/javascript"
  charset="utf-8">
</script>

<script type="text/javascript">
  $('video, audio').mediaelementplayer({
    startVolume: 1.0
  });
</script>

<script type="text/javascript">
  $('#search-query').lunrSearch({
    indexUrl: '/search.json',
    results:  '#search-results',
    entries:  '.entries',
    template: '#search-results-template'
  });
</script>
