<head>
  <!-- Chartbeat Analytics -->
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="twitter:site" content="@chrishunt">
  <meta name="twitter:creator" content="@healthyhackertv">
  <meta name="twitter:card" content="summary">

  {% if page.episode and page.title and page.excerpt %}
    <meta name="twitter:title" content="{{ page.episode }}: {{ page.title }}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
  {% else %}
    <meta name="twitter:title" content="Healthy Hacker Podcast">
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

  <title>
    {% if page.episode %}
      {{ page.episode }}:
    {% endif %}

    {% if page.title %}
      {{ page.title }} |
    {% endif %}

    Healthy Hacker Podcast | Chris Hunt | healthyhacker.com
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/mediaelement/mediaelementplayer.min.css">
  <link rel="stylesheet" href="/css/mediaplayer.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
