<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% include twitter_meta_tags.html %}
  {% include facebook_meta_tags.html %}

  <title>
    {% if page.episode %}
      {{ page.episode }}:
    {% endif %}

    {% if page.title %}
      {{ page.title }} |
    {% endif %}

    Healthy Hacker Podcast | Chris Hunt | healthyhacker.com
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/mediaelement/mediaelementplayer.min.css">
  <link rel="stylesheet" href="/css/mediaplayer.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- GoSquared Analytics -->
  <script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');

    _gs('GSN-234109-P');
  </script>
</head>
