{% capture mp3 %}{{ site.mp3url }}/healthyhacker-{{ page.episode }}.mp3{% endcapture %}

<div class="post" id="episode-{{ page.episode }}">
  <article class="post-content">
    <audio preload="none" style="width:100%" width="100%">
      <source type="audio/mpeg" src="{{ mp3 }}" />
    </audio>

    <header class="post-header">
      <h3>
        <a href="{{ page.url }}">
          {{page.episode}}: <span>{{ page.title }}</span>
        </a>
      </h3>

      <p class="meta">
        <span>Episode #{{ page.episode}}</span>
        {{ page.date | date: "%b %-d, %Y" }}
        <br>

        <a href="{{ mp3 }}"><span>Download mp3</span></a>
        ({{ page.size_in_megabytes }} mb)
        <br>

        <span><a href="{{ site.itunesurl }}">Subscribe</a></span>
        (<a href="{{ site.itunesurl }}">iTunes</a>,
        <a href="/feed.xml">RSS</a>)
      </p>
    </header>

    {{ page.content }}
  </article>
</div>
