<div class="post" id="episode-{{ page.episode }}">
  <article class="post-content">
    <iframe src="https://share.transistor.fm/e/{{ page.share_id }}"
      width='100%'
      height='180'
      frameborder='0'
      scrolling='no'
      seamless='true'
      style='width:100%; height:180px;'>
    </iframe>

    <header class="post-header">
      <h3>
        <a href="{{ page.url }}">
          {{page.episode}}: <span>{{ page.title }}</span>
        </a>
      </h3>

      <p class="meta">
        <span>Episode #{{ page.episode}}</span>
        {{ page.date | date: "%b %-d, %Y" }}
        <br>

        <span><a href="{{ site.itunesurl }}">Subscribe</a></span>
        (<a href="{{ site.itunesurl }}">iTunes</a>,
        <a href="{{ site.rssurl }}">RSS</a>)
      </p>
    </header>

    {{ page.content }}
  </article>
</div>
