<meta name="twitter:site" content="@chrishunt">
<meta name="twitter:creator" content="@healthyhackertv">
<meta name="twitter:card" content="summary">

{% if page.episode and page.title and page.excerpt %}
  <meta name="twitter:title" content="{{ page.episode }}: {{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
{% else %}
  <meta name="twitter:title" content="Healthy Hacker Podcast">
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
