---
layout: default
---

{% for page in paginator.posts %}
  {% include post.html %}

  {% if forloop.last == false %}
    <hr>
  {% endif %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <span><a href="{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo;</a></span>
  {% else %}
    <span>&laquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      {{ page }}
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <span><a href="{{ paginator.next_page_path | replace: '//', '/' }}">&raquo;</a></span>
  {% else %}
    <span>&raquo;</span>
  {% endif %}
</div>
{% endif %}
