---
layout: default
---

<div class="home">
  <ul class="posts">
    {% for page in site.posts %}
      <li>
        <div class="post-summary">
          <span class="post-date">#{{ page.episode }} - </span>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a>
        </div>

        <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
          {% include video.html %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
