<div class="post">
  <article class="post-content">
    <audio preload="none"
      style="width:100%"
      width="100%">
        <source
          type="audio/mpeg"
          src="http://podcasts.thoughtbot.com/giantrobots/{{ page.episode }}.mp3" />
    </audio>

    <header class="post-header">
      <h3>
        <a href="{{ page.url }}">
          <span>{{ page.title }}</span>
        </a>
      </h3>

      <p class="meta">
        <span>
          Episode #{{ page.episode}}
        </span>
        {{ page.date | date: "%b %-d, %Y" }}<br>
        <a href="http://podcasts.thoughtbot.com/giantrobots/{{ page.episode }}.mp3">
          <span>Download mp3</span></a>
        ({{ page.size }} mb)
      </p>
    </header>

    {% if content %}
      {{ content }}
    {% else %}
      {{ page.content }}
    {% endif %}
  </article>
</div>
